.App {
  text-align: center;
}

.content {
  padding-top: 12px;
}

.content__todo-list {
  width: 300px;
}

.todo-button {
  font-family: Roboto, sans-serif;
  font-size: 0.875rem;
  line-height: 2.25rem;
  font-weight: 500;
  letter-spacing: 0.0892857143em;
  text-decoration: none;
  text-transform: uppercase;
  padding: 0 8px;
  display: inline-flex;
  position: relative;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  min-width: 64px;
  height: 36px;
  border: none;
  outline: none;
  line-height: inherit;
  user-select: none;
  overflow: hidden;
  vertical-align: middle;
  border-radius: 4px;
}

.todo-button:hover {
  cursor: pointer;
}

.todo-button--primary {
  background-color: #6200ee;
  color: #fff;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.todo-container {
  display: flex;
  justify-content: center;
}

.todo-button--primary:hover {
  background-color: #6e14ef;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2), 0 4px 5px 0 rgba(0, 0, 0, 0.14),
    0 1px 10px 0 rgba(0, 0, 0, 0.12);
}

.content__todo-list {
  margin: 0px 12px;
}
